<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar navbar-fixed-top mc-company-pink">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse"></a>
    <a class="brand" href="./">{{title}}</a>
  </div>
</div>
<div class="container mc-company-body">
  <h1>Welcome to {{title}}!</h1>    
  <div class="hero-unit">
    <p>
      <button class="btn btn-primary" type="button" value="Refresh Page" onclick="window.location.reload()">Give me a cat!</button>
    </p>   
    <img src="http://thecatapi.com/api/images/get?format=src&type=gif">
    <p>
        <button class="btn btn-success">Lemme keep it</button>
        <button class="btn btn-danger">I hate this cat so much</button>        
    </p>
  </div>
</div>



 
